<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="com.spearline.utilities.Listeners"/>
    </listeners>

    <test name="User Login Functionality">
    <classes><class name="com.spearline.testCases.TestCase001_LoginPage">
        <methods>
            <include name="TestCase001_UserLogin"/>
        </methods>
    </class>
    </classes>
</test>
</suite>